@font-face {
  font-family: "iranYekan";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Qs_Iranyekan\ medium.ttf) format("ttf");
}

@font-face {
  font-family: "iranYekan";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Qs_Iranyekan\ bold.ttf) format("ttf");
}

body {
  font-family: "iranYekan";
}
